body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td
	{
	font-size: 11px;
	font-family: arial, sans serif, verdana;
}


.noborder{
	border-style: none !important;
	background: transparent;
	border: none !important;
	border: 0px solid rgba(221, 221, 221, 0) !important;
}